/* variable */
:root{
    --theme-color: #1C3879;
    --dull-color: #EAE3D2;
    --bright-color: #F9F5EB;
    --shadow-color: rgba(90, 111, 137, 0.08);
}

/* style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sanserif';
}

/* TopBar */
.topbar{
    position: fixed;
    background: var(--bright-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1; 
}

.logo h2{
    color: var(--theme-color);
}

.search{
    position:  relative;
    width: 60%;
    justify-self: center;
}

.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--dull-color);
}
.search i{
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
}
.user{
    position: relative;
    width:  50px;
    height: 50px;
}

.user img{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     object-fit: cover;
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: var(--theme-color);
    overflow-x: hidden;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover{
    background: var(--bright-color);
}
.sidebar ul li:hover a{
    color: var(--theme-color);
}
.sidebar ul li a{
    width: 100%;
    text-decoration: none;
    color: var(--bright-color);
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

/* main section */
.main{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: var(--dull-color);
}

.cards{
    width: 100%;
    padding:  35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bright-color);
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 var(--shadow-color);
}

.cards .card:hover{
    background: var(--theme-color);
}

.cards .card:hover .number{
    color: var(--bright-color);
}

.cards .card:hover .card-name{
    color: var(--bright-color);
}

.cards .card:hover .icon-box i{
    color: var(--bright-color);
}

.number{
    font-size: 35px;
    font-weight: 500;
    color:var(--theme-color);
}

.card-name{
    color: #888;
    font-weight:  600;
}

.icon-box i{
    font-size: 45px;
    color: var(--theme-color);
}

/* Charts */
.charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart{
    background: var(--bright-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px var(--shadow-color);
    width: 100%;
}

.chart h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
}

/* Responsive Start */
@media (max-width:1115px){
    .sidebar{
        width: 60px;
    }
    .main{
        left: 60px;
        width: calc(100% - 60px);
    }
}

@media (max-width:880px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .charts{
        grid-template-columns: 1fr;
    }
    #dougnut-chart{
        padding: 50px;
    }
}

@media (max-width:500px){
    .topbar{
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .logo h2{
        width: 80%;
    }
    .search input{
        padding: 0 20px;
    }
    .fa-bell{
        margin-right: 5px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
    #doughnut-chart{
        padding: 10px;
    }
    #doughnut{
        padding: 0;
    }
}
