@charset "ISO-8859-1";

#page_1 {position:relative; overflow: hidden;margin: 97px 0px 40px 89px;padding: 0px;border: none;width: 727px;}





.ft0{font: italic bold 15px 'Arial';text-decoration: underline;color: #c71f1e;line-height: 17px;}
.ft1{font: italic bold 15px 'Arial';text-decoration: underline;line-height: 17px;}
.ft2{font: 15px 'Arial';line-height: 17px;}
.ft3{font: 1px 'Arial';line-height: 1px;}
.ft4{font: 16px 'Arial';line-height: 18px;}
.ft5{font: bold 16px 'Arial';line-height: 19px;}
.ft6{font: 15px 'Segoe UI Symbol';line-height: 20px;}
.ft7{font: 15px 'Arial';margin-left: 4px;line-height: 17px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 96px;margin-top: 1px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 213px;margin-top: 61px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 162px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 7px;padding-right: 133px;margin-top: 2px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 7px;margin-top: 21px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 30px;margin-top: 19px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 30px;margin-top: 2px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 30px;margin-top: 1px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 26px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p13{text-align: left;margin-top: 2px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 495px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 26px;vertical-align: bottom;}

.tr0{height: 20px;}
.tr1{height: 39px;}
.tr2{height: 38px;}

.t0{width: 580px;margin-left: 7px;margin-top: 46px;font: 16px 'Arial';}